ul{
   list-style-type: none;
   font-family: Arial, Helvetica, sans-serif;
   width: 450px;
   background-color: #444444;
   height: 700px;
   font-size:medium;
   float: left;
   position: absolute;
   padding-top: 20px;
}
a{
   text-decoration: none;
   color: lightgray;
}
hr.menuvonal {
   border-bottom: 1px solid #494949;
   border-top: 1px solid #3d3d3d;
   
}
li{
   text-align:justify;
   height: 30px;
}

body {
   background-repeat: no-repeat;
   background-color: white;
}
.hatter_lista{
   background-color: #444444;
   float: left;
   width: 30%;
}