ul{
   list-style-type: none;
   font-family: Arial, Helvetica, sans-serif;
   width: 300px;
   background-color: #424242;
}
a{
   text-decoration: none;
   color: white;
}
.menuvonal{
   color: black;
}